* {

    margin: 0px;
    padding: 0px;

}

nav {

    display: flex;
    justify-content: space-around;
    background-color: rgb(78, 40, 112);
    padding: 15px 0px;
    color: white;
    background-image: linear-gradient(to right, rgb(33, 2, 76), rgb(4, 47, 177));

}

nav ul {

    display: flex;
    gap: 16px;
    align-items: center;

}

.logo {

    font-size: 20px;
    font-weight: bolder;
    font-family: "Playwrite PL", cursive;
}

nav ul li {

    list-style-type: none;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    color: white;

}


.hero {

    background-color: rgb(234, 245, 244);
    background-image: linear-gradient(to right, rgb(151, 232, 162), rgb(159, 115, 248));
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;


}

.hero-left .one {

    font-size: 60px;
    color: rgb(33, 2, 76);
    font-weight: bold;
}

.hero-left .two {

    font-size: 40px;
}

.bold {

    font-weight: bold;

}


.image {

    width: 300px;
    border-radius: 14px;
}

.btn {


    background-image: linear-gradient(to right, rgb(95, 95, 231), rgb(25, 6, 111));
    color: white;
    margin: 0px 2px;
    padding: 9px 10px;
    border: 2px solid purple;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    transition: all 1s ease;
}


.btn:hover {
   
  padding: 12px 15px;
    background-image: linear-gradient(to right, rgb(118, 232, 232), rgb(23, 71, 71));
}




.pjctimg {

 
    width: 35vw;
    border-radius: 125px;
    padding: 60px 10px;
   

}

.project {

    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(181, 181, 245), rgb(173, 233, 194));
    font-family: "Roboto Condensed", sans-serif;
    padding: 22px 100px;
    border-top: 2px solid rgb(135, 189, 196);
}

.project-info {

    display: flex;
    flex-direction: column;
    padding: 42px;

}

.project-info .text {

    font-size: 27px;
    font-weight: bold;
    padding: 42px 0px;
}

.project-info p {

    padding: 12px 0px;

}

.row-reverse{

    flex-direction: row-reverse;
}
.hero-left{

    display: flex;
    flex-direction: column;

}



@media screen and (max-width: 950px){

    nav{
flex-direction: column;
align-items:center ;
gap: 12px;

    }

    .hero{

        flex-direction: column-reverse;
        gap: 12px

    }

    .hero-left{

        align-items: center;
    }

    .project{

        padding: 1px;
    }
    
}

@media screen and (max-width: 650px){


.hero-left .one{


    font-size: 20px;
    text-align: center;

}

.hero-left .two{


    font-size: 30x;
    text-align: center;

   
}

.project{

    flex-direction: column;
    padding: 15px;
}

.pjctimg {

 
    width: 80vw;
    margin: 15px 35px;
    padding: 15px 23px;

   

}

.project-info{


    padding: 15px 23px;

}

.image {

    width: 200px;
    border-radius: 10px;
}

.hero{

    gap: 20px;
}

.hero-left{

    gap: 15px;
}

footer{

    font-size: 12px;
}

}

nav ul li a{

    color: white;

}



footer{

    background-color: black;
    color: white;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    padding: 20px 0px;


}
